nav {
    padding-right: 100px;
    padding-left: 100px;
}

.edititem {
    width: 33px;
    height: 33px;
    height: auto;
    margin: 3px;
    padding: 3px;
}

.edititem img {
    max-width: 33px;
    height: 33px;
    border-radius: 100%;
}

.inline {
    display: inline-block;
}

h3{
    margin-bottom: 15px;
    margin-top: 15px;
}